{% extends "base.html" %}

{% block content %}
<h1 class="errorpage-title">Page Not Found (404)</h1>
<div class="errorpage-section">
  <h4>Sorry, what you were looking for is just not there!</h4>
  <h4><a href="{{ url_for('recipes.recipes') }}">Ty Myrddin Data Science Playground Recipes</a></h4>
</div>
{% endblock %}
