
.blogpost-container {
  margin: 1.0rem;
  justify-content: center;
  background-color: white;
  color: black;
}

@media screen and (min-width: 800px){
  .blogpost-container {
        margin: 5.0rem 5.0rem 1.0rem;
  }
}

.blogpost-container h1 {
  font-size: 2.5rem;
}
.blogpost-container h1, .blogpost-container h3 {
  text-align: center;
  margin: 1rem 0;
}

.blogpost__date {
  text-align: center;
  font-size: 0.9rem;
  margin: 1rem 0;
}

.blogpost__image {
  /*width: 24rem;*/
  width: 80%;
  height: 80%;
  margin: 0 auto;
  display: block;
  object-fit: cover;
}

.blogpost__article {
  text-align: left;
  margin: 1rem 0.5rem;
}

@media screen and (min-width: 800px) {
  .blogpost__article {
    text-align: left;
    margin: 1rem 5rem;
    width: 80%;
  }
}
.blogpost__article p {
  padding: 0.5rem 0;
}

.blogpost__article ul, .blogpost__article ol{
  list-style-position: inside;
  margin-left: 1rem;
}

.blogpost__article li {
  padding: 0.2rem 0;
}

.blogpost__article a, .blogpost__article a:visited {
  text-decoration: none;
  color: #cc6600;
}

.blogpost__article a:hover {
  text-decoration: none;
  color: #ff9933;
}

.article__image {
  text-align: center;
}

h2 {
  margin: 1rem 0;
}