.page-container {
  margin: 3rem 0 0;
  justify-content: center;
}

.page-container h1 {
  font-size: 2.0rem;
  font-weight: 500;
}

.page-container h1, .page-container h3 {
  text-align: center;
  margin: 1rem;
}

.text-primary {
  color: #ff9933;
}

hr {
  border-color: #ff9933;
  border-width: 2px;
  max-width: 3rem;
  margin: auto;
}

hr.light { border-color: #ff9933; }

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.text-center {
  text-align: center;
}

.page__image {
  /*width: 24rem;*/
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
}

.page__article {
  text-align: center;
  margin: 1rem auto;
}

.page__article_white {
  background-color: white;
  color: black;
  text-align: center;
  margin: 3rem auto;
  padding: 1rem;
}

@media screen and (min-width: 800px) {
  .page__article {
    text-align: center;
    margin: 1rem auto;
  }
}

.page__article p {
  padding: 0.5rem 2.5rem;
}

.page__article ul, .page__article ol{
  list-style-position: inside;
  margin-left: 1rem;
}

.page__article li {
  padding: 0.2rem 0;
}

.page__article a, .page__article a:visited {
  color:#ff9933;
}

.page__image {
  text-align: center;
}

h2 {
  margin: 1rem 0;
}

.page-post-card__link {
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  background: #ff9933;
  text-align: center;
  max-width: 15rem;
  margin: 2rem auto;
}

.page-post-card__link a {
  text-decoration: none;
  color: black;
}

/* Service box styling
 ********************/

.column {
  float: left;
  width: 25%;
  margin: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column {
    width: 100%;
    margin: auto;
  }
}

.service-box {
  margin: 50px auto 0;
  padding: 1rem;
}

@media (min-width: 800px) {
  .service-box {
  margin: 20px auto 0;
  }
}

.service-box h3 {
  color: #4b2700;
}

.service-box p {
  margin-bottom: 0;
}

.text-muted {
  color: #777;
}

/* Contact form styling
 ********************/

/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 1rem; /* Add a top margin */
  margin-bottom: 1rem; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #ff9933;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #4b2700;
  color: white;
}

.form {
  margin: 0 2.5rem 0 2.5rem;
  text-align: left;
}
