{% extends "base.html" %}

{% block content %}
<div class="recipe-container">

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/data-analysis/-/tree/main/source/notebooks/bike_sharing">
            <img
              src="{{ url_for('static', filename='img/bikes.png') }}"
              alt="Bikes in Amsterdam"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Bike sharing</h2>
                <p class="recipe-badge badge1">Weather</p>
                <p class="recipe-badge badge2">Seasons</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/data-analysis/-/tree/main/source/notebooks/absenteism">
            <img
              src="{{ url_for('static', filename='img/absent.png') }}"
              alt="Absent"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Absenteism at work</h2>
                <p class="recipe-badge badge1">Courier company</p>
                <p class="recipe-badge badge2">Brazil</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/data-analysis/-/tree/main/source/notebooks/marketing">
            <img
              src="{{ url_for('static', filename='img/marketing.png') }}"
              alt="Marketing"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-extra-long">Analyzing marketing campaign data</h2>
                <p class="recipe-badge badge1">Prediction</p>
                <p class="recipe-badge badge2">Portuguese bank</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/data-analysis/-/tree/main/source/notebooks/bankruptcy">
            <img
              src="{{ url_for('static', filename='img/bankruptcy.png') }}"
              alt="Bankruptcy"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Company bankruptcy</h2>
                <p class="recipe-badge badge1">Prediction</p>
                <p class="recipe-badge badge2">Polish companies</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/data-analysis/-/tree/main/source/notebooks/shoppers">
            <img
              src="{{ url_for('static', filename='img/shopping.png') }}"
              alt="Shopping bag"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Online shoppers</h2>
                <p class="recipe-badge badge1">Purchasing intention</p>
                <p class="recipe-badge badge2">Turkey</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/data-analysis/-/tree/main/source/notebooks/credit_cards">
            <img
              src="{{ url_for('static', filename='img/credit_cards.png') }}"
              alt="Credit cards"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Credit card defaulters</h2>
                <p class="recipe-badge badge1">Predictive accuracy</p>
                <p class="recipe-badge badge2">Taiwan</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/data-analysis/-/tree/main/source/notebooks/heart">
            <img
              src="{{ url_for('static', filename='img/heart.png') }}"
              alt="Heart"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Heart disease</h2>
                <p class="recipe-badge badge1">Prediction</p>
                <p class="recipe-badge badge2">Multivariate</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/data-analysis/-/tree/main/source/notebooks/retail">
            <img
              src="{{ url_for('static', filename='img/retail.png') }}"
              alt="Retail"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Online retail</h2>
                <p class="recipe-badge badge1">Non-store</p>
                <p class="recipe-badge badge2">Transactions</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/data-analysis/-/tree/main/source/notebooks/energy">
            <img
              src="{{ url_for('static', filename='img/energy_appliances.png') }}"
              alt="Energy appliances"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Energy consumed by appliances</h2>
                <p class="recipe-badge badge1">Regression</p>
                <p class="recipe-badge badge2">Wireless sensor network</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/data-analysis/-/tree/main/source/notebooks/air_quality">
            <img
              src="{{ url_for('static', filename='img/air_quality.png') }}"
              alt="Air quality"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Analyzing air quality</h2>
                <p class="recipe-badge badge1">Variables</p>
                <p class="recipe-badge badge2">Beijing</p>
            </div>
        </a>
    </div>

</div>
{% endblock %}
