{% extends "base.html" %}

{% block content %}
<div class="recipe-container">

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/data-wrangling/-/tree/main/source/notebooks/diving">
            <img
              src="{{ url_for('static', filename='img/manipulation.png') }}"
              alt="Plunging in"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Plunging in</h2>
                <p class="recipe-badge badge1">Goosnargh</p>
                <p class="recipe-badge badge2">Perfectly ordinary</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/data-wrangling/-/tree/main/source/notebooks/sources">
            <img
              src="{{ url_for('static', filename='img/well.png') }}"
              alt="Data sources"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Data sources</h2>
                <p class="recipe-badge badge1">Zarking</p>
                <p class="recipe-badge badge2">Photon</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/data-wrangling/-/tree/main/source/notebooks/secrets">
            <img
              src="{{ url_for('static', filename='img/data_secrets.png') }}"
              alt="Some secrets"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Some secrets</h2>
                <p class="recipe-badge badge1">Universe</p>
                <p class="recipe-badge badge2">Everything</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/data-wrangling/-/tree/main/source/notebooks/scraping">
            <img
              src="{{ url_for('static', filename='img/collecting.png') }}"
              alt="Data gathering"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Data gathering</h2>
                <p class="recipe-badge badge1">Scraping</p>
                <p class="recipe-badge badge2">Crawling</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/data-wrangling/-/tree/main/source/notebooks/databases">
            <img
              src="{{ url_for('static', filename='img/databases.png') }}"
              alt="Databases"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Databases</h2>
                <p class="recipe-badge badge1">Select</p>
                <p class="recipe-badge badge2">Simple</p>
            </div>
        </a>
    </div>

</div>
{% endblock %}
