{% extends "base.html" %}

{% block content %}
<div class="recipe-container">

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/data-visualisation/-/tree/main/source/notebooks/matplotlib">
            <img
              src="{{ url_for('static', filename='img/boxplots.png') }}"
              alt="Plunging in"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Matplotlib</h2>
                <p class="recipe-badge badge1">Customisations</p>
                <p class="recipe-badge badge2">TeX</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/data-visualisation/-/tree/main/source/notebooks/seaborn">
            <img
              src="{{ url_for('static', filename='img/seaborn.png') }}"
              alt="Data sources"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Seaborn</h2>
                <p class="recipe-badge badge1">Advantages</p>
                <p class="recipe-badge badge2">Built-in</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/data-visualisation/-/tree/main/source/notebooks/bokeh">
            <img
              src="{{ url_for('static', filename='img/bokeh.png') }}"
              alt="Data gathering"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Bokeh</h2>
                <p class="recipe-badge badge1">Interactive</p>
                <p class="recipe-badge badge2">Web-based visualisations</p>
            </div>
        </a>
    </div>

</div>
{% endblock %}
