{% extends "base.html" %}

{% block content %}
<div class="recipe-container">

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/deep-learning/-/tree/main/source/notebooks/nn">
            <img
              src="{{ url_for('static', filename='img/traditional.png') }}"
              alt="Traditional dreamscape"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-extra-long">Traditional Neural Networks</h2>
                <p class="recipe-badge badge1">Perceptron</p>
                <p class="recipe-badge badge2">Neurons</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/deep-learning/-/tree/main/source/notebooks/cnns">
            <img
              src="{{ url_for('static', filename='img/cnns.png') }}"
              alt="CNNs"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-extra-long">Convolutional Neural Networks</h2>
                <p class="recipe-badge badge1">Mostly images</p>
                <p class="recipe-badge badge2">Tensorflow</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/deep-learning/-/tree/main/source/notebooks/nltk">
            <img
              src="{{ url_for('static', filename='img/nlp.png') }}"
              alt="NLP"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-extra-long">Natural Language Processing</h2>
                <p class="recipe-badge badge1">NLP</p>
                <p class="recipe-badge badge2">Gutenberg</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/deep-learning/-/tree/main/source/notebooks/rnns">
            <img
              src="{{ url_for('static', filename='img/rnns.png') }}"
              alt="RNNs"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-extra-long">Recurrent Neural Networks</h2>
                <p class="recipe-badge badge1">Forward pass</p>
                <p class="recipe-badge badge2">Stock predictions</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/deep-learning/-/tree/main/source/notebooks/advanced_rnns">
            <img
              src="{{ url_for('static', filename='img/advanced_rnns.png') }}"
              alt="Advanced RNNs"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-extra-long">LSTMs, GRUs, and Advanced RNNs</h2>
                <p class="recipe-badge badge1">Comparison</p>
                <p class="recipe-badge badge2">Time/Accuracy</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/deep-learning/-/tree/main/source/notebooks/gans">
            <img
              src="{{ url_for('static', filename='img/gans.png') }}"
              alt="Gans"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-extra-long">Generative Adversarial Networks</h2>
                <p class="recipe-badge badge1">Generator</p>
                <p class="recipe-badge badge2">Discriminator</p>
            </div>
        </a>
    </div>


</div>
{% endblock %}
