{% extends "base.html" %}

{% block content %}
<div class="recipe-container">


<div class="card">
        <a href="https://gitlab.com/tymyrddin/ml/-/tree/main/source/notebooks/preprocessing">
            <img
              src="{{ url_for('static', filename='img/telescope.png') }}"
              alt="Telescope"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Data preprocessing</h2>
                <p class="recipe-badge badge1">Crudely built</p>
                <p class="recipe-badge badge2">Hut</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/ml/-/tree/main/source/notebooks/unsupervised_algorithms">
            <img
              src="{{ url_for('static', filename='img/clustering.png') }}"
              alt="Clustering"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Unsupervised learning algorithms</h2>
                <p class="recipe-badge badge1">Untagged data</p>
                <p class="recipe-badge badge2">Mimicry</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/ml/-/tree/main/source/notebooks/supervised_metrics">
            <img
              src="{{ url_for('static', filename='img/throne_rooms.png') }}"
              alt="Throne rooms"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Supervised learning metrics</h2>
                <p class="recipe-badge badge1">Evaluation</p>
                <p class="recipe-badge badge2">Selection</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/ml/-/tree/main/source/notebooks/supervised_algorithms">
            <img
              src="{{ url_for('static', filename='img/tagged.png') }}"
              alt="Tagged"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Supervised learning algorithms</h2>
                <p class="recipe-badge badge1">Input-output pairs</p>
                <p class="recipe-badge badge2">Mapping</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/ml/-/tree/main/source/notebooks/neural_networks">
            <img
              src="{{ url_for('static', filename='img/neural.png') }}"
              alt="Neural network"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-extra-long">Classification</h2>
                <p class="recipe-badge badge1">Neural networks</p>
                <p class="recipe-badge badge2">AI</p>
            </div>
        </a>
    </div>

</div>
{% endblock %}
