{% extends "base.html" %}

{% block content %}
<div class="recipe-container">

    <div class="card">
        <a href="{{ url_for('recipes.titanic_recipes') }}">
            <img
                src="{{ url_for('static', filename='portfolio/7.jpg') }}"
                alt="DL"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Titanic survival</h2>
                <p class="recipe-badge badge1">Example pipe</p>
                <p class="recipe-badge badge2">Binary classification</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes.ames_recipes') }}">
            <img
                src="{{ url_for('static', filename='portfolio/8.jpg') }}"
                alt="Dent's house"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Ames housing prices</h2>
                <p class="recipe-badge badge1">Example pipe</p>
                <p class="recipe-badge badge2">Continuous regression</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://roadmaps.tymyrddin.dev/">
            <img
              src="{{ url_for('static', filename='portfolio/roadmaps.png') }}"
              alt="Neural network"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-extra-long">Roadmaps</h2>
                <p class="recipe-badge badge1">Generic</p>
                <p class="recipe-badge badge2">MLOps</p>
            </div>
        </a>
    </div>

</div>
{% endblock %}