{% extends "base.html" %}

{% block content %}
<div class="recipe-container">

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/nlp/-/tree/main/source/notebooks/setup">
            <img
              src="{{ url_for('static', filename='img/setup.png') }}"
              alt="Setup"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Set up services</h2>
                <p class="recipe-badge badge1">AI</p>
                <p class="recipe-badge badge2">ML AWS</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/nlp/-/tree/main/source/notebooks/docs">
            <img
              src="{{ url_for('static', filename='img/docs.png') }}"
              alt="Docs"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Analysing documents and text</h2>
                <p class="recipe-badge badge1">Comprehend</p>
                <p class="recipe-badge badge2">Lambda functions</p>
            </div>
        </a>
    </div>
</div>
{% endblock %}
