{% extends "base.html" %}

{% block content %}
<div class="recipe-container">

    <div class="card">
        <a href="{{ url_for('recipes.nlp_recipes') }}">
            <img
                src="{{ url_for('static', filename='portfolio/1.jpg') }}"
                alt="DL"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Natural Language Processing</h2>
                <p>Appetiser ingredients</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes.data_visualisation_recipes') }}">
            <img
                src="{{ url_for('static', filename='portfolio/6.jpg') }}"
                alt="DL"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Data visualisation</h2>
                <p>Appetiser ingredients</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes.deep_learning_recipes') }}">
            <img
                src="{{ url_for('static', filename='portfolio/4.jpg') }}"
                alt="DL"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Deep learning</h2>
                <p>Appetiser ingredients</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes.data_analysis_recipes') }}">
            <img
                src="{{ url_for('static', filename='portfolio/5.jpg') }}"
                alt="DA"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Data analysis</h2>
                <p>10 recipes</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes.ml_recipes') }}">
            <img
                src="{{ url_for('static', filename='portfolio/3.jpg') }}"
                alt="ML"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Machine learning</h2>
                <p>Appetiser ingredients</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes.data_wrangling_recipes') }}">
            <img
                src="{{ url_for('static', filename='portfolio/2.jpg') }}"
                alt="Data Wrangling"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Data Wrangling</h2>
                <p>Appetiser ingredients</p>
            </div>
        </a>
    </div>


    <div class="card">
        <a href="{{ url_for('recipes.mlops_recipes') }}">
            <img
                src="{{ url_for('static', filename='portfolio/pipelines.png') }}"
                alt="ML"
                class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">MLOps</h2>
                <p>Simple desserts</p>
            </div>
        </a>
    </div>

</div>
{% endblock %}
