{% extends "base.html" %}

{% block content %}
<div class="recipe-container">

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/titanic/-/tree/main/notebooks">
            <img
              src="{{ url_for('static', filename='img/notebooks.png') }}"
              alt="Notebooks"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Developing the ML model</h2>
                <p class="recipe-badge badge1">Binary classification</p>
                <p class="recipe-badge badge2">Reproducibility for pipeline</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/titanic/-/tree/main/production-model-package">
            <img
              src="{{ url_for('static', filename='img/packaging.png') }}"
              alt="Wicker basket"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Packaging for production</h2>
                <p class="recipe-badge badge1">Configurations</p>
                <p class="recipe-badge badge2">Building</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/titanic/-/tree/main/api">
            <img
              src="{{ url_for('static', filename='img/api.png') }}"
              alt="API"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Exposing using Fast API</h2>
                <p class="recipe-badge badge1">REST API</p>
                <p class="recipe-badge badge2">Heroku</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/titanic/-/tree/main/ci-and-publishing">
            <img
              src="{{ url_for('static', filename='img/orb.png') }}"
              alt="Orb"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">CI and publishing</h2>
                <p class="recipe-badge badge1">CircleCI</p>
                <p class="recipe-badge badge2">Index server</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/titanic/-/tree/main/deploying-with-containers">
            <img
              src="{{ url_for('static', filename='img/container.png') }}"
              alt="Container"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Deploying with a container</h2>
                <p class="recipe-badge badge1">Docker creation</p>
                <p class="recipe-badge badge2">CI pipeline</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/titanic/-/tree/main/differential-testing">
            <img
              src="{{ url_for('static', filename='img/red_dragon.png') }}"
              alt="Red dragon"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Differential testing</h2>
                <p class="recipe-badge badge1">Back-to-back</p>
                <p class="recipe-badge badge2">Semantic</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://gitlab.com/tymyrddin/titanic/-/tree/main/iaas">
            <img
              src="{{ url_for('static', filename='img/clustering.png') }}"
              alt="Clustering"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Deploying to IaaS</h2>
                <p class="recipe-badge badge1">AWS ECS</p>
                <p class="recipe-badge badge2">Fargate</p>
            </div>
        </a>
    </div>

</div>
{% endblock %}
