{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/page_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/material.css') }}" type="text/css">
{% endblock %}

{% block content %}
<div class="page-container">

    <div class="page__article">
        <h1>About Milliways</h1>
        <hr class="light">
        <p>Milliways, better known as the Restaurant at the End of the Universe, is a five-star restaurant situated at the end of time and matter. </p>
        <p>The Restaurant has some of the most staggeringly extravagant decor ever seen, a variety of the strangest guests from throughout history, and serves a particularly fine Pan Galactic Gargle Blaster. Milliways is run by an incredible arrangement of life forms from everywhen, and is the one place anywhen that serves talking food. Its main attraction is allowing diners to view a Gnab Gib, before desserts are served.</p>
    </div>

    <div class="page__article_white">
        <h1>At Your Service</h1>
        <hr class="light">
        <div class="row">
          <div class="column service-box">
              <em class="material-icons md-64 text-primary">usb</em>
              <h3>Works with your device</h3>
              <p class="text-muted">The Babel fish is a small, bright yellow fish, which can be placed in someone's ear in order for them to be able to hear any language translated into their first language. Meanwhile, the poor Babel fish, by effectively removing all barriers to communication between different races and cultures, has caused more and bloodier wars than anything else in the history of creation.</p>
          </div>
          <div class="column service-box">
              <em class="fa fa-4x fa-paper-plane text-primary"></em>
              <h3>Transportation</h3>
              <p class="text-muted">Near-instant transportation to the restaurant can be achieved in certain rarefied circumstances, such as being next to an exploding hyperspatial field generator on the planet where Milliways will eventually be built several billion years after the explosion occurs. Or have access to an Infinite Improbability Drive, such as The Heart of Gold.</p>
          </div>
          <div class="column service-box">
              <em class="fa fa-4x fa-solid fa-newspaper text-primary"></em>
              <h3>Up to Date</h3>
              <p class="text-muted">Far out in the uncharted backwaters of the unfashionable end of the western spiral arm of the Galaxy lies a small unregarded yellow sun. Orbiting this at a distance of roughly ninety-two million miles is an utterly insignificant little blue-green planet whose ape-descended life forms are so amazingly primitive that they still think digital watches are a pretty neat idea.</p>
          </div>
          <div class="column service-box">
              <em class="fa fa-4x fa-heart text-primary"></em>
              <h3>With Love</h3>
              <p class="text-muted">Protect me from knowing what I don’t need to know. Protect me from even knowing that there are things to know that I don’t know. Protect me from knowing that I decided not to know about the things that I decided not to know about. Amen.</p>
              <p class="text-muted">‘Forty-two,’ said Deep Thought, with infinite majesty and calm.</p>
          </div>
        </div>
    </div>

    <div class="page__article">
        <h1>Payment</h1>
        <hr class="light">
        <p>The restaurant’s bill can be paid by depositing a penny in any bank account of the present time: by the end of the universe, the compound interest on that penny over the course of time after 170 quintillion years (short scale) will be enough to pay the extremely high bill.</p>
        <div class="page-post-card__link">
            <a href="{{ url_for('blog.reservations') }}">Book me a reservation!</a>
        </div>
    </div>

</div>
{% endblock %}
