{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blog_style.css') }}">
{% endblock %}

{% block content %}
<div class="blog-container">

    <div class="blog-post-card card-overlay">
        <img
          src="{{ url_for('static', filename='img/notebook_to_code.jpg') }}"
          alt="Notebook to code"
          class="blog-post-card__image" />
        <div class="blog-post-card__body">
            <a href="{{ url_for('blog.posts', blog_title='packaging-models') }}">
                <h2 class="recipe-title-long">Packaging models for production</h2></a>
            <p>Packaging models with all the fundamental tools to build a scalable, testable and maintainable ML infrastructure.</p>
            <p class="blog-post-card__date">Published on May 1, 2022</p>
        </div>
    </div>

    <div class="blog-post-card card-overlay">
        <img
          src="{{ url_for('static', filename='img/on_the_fly.png') }}"
          alt="On the fly architecture"
          class="blog-post-card__image" />
        <div class="blog-post-card__body">
            <a href="{{ url_for('blog.posts', blog_title='ml-ops') }}">
                <h2 class="recipe-title-long">ML operations</h2></a>
            <p>MLOps was born at the intersection of DevOps, Data Engineering, and Machine Learning, and is similar to DevOps. Backward planning ...</p>
            <p class="blog-post-card__date">Updated on April 27, 2022</p>
        </div>
    </div>

    <div class="blog-post-card card-overlay">
        <img
          src="{{ url_for('static', filename='img/vuln-scanning.png') }}"
          alt="On the fly architecture"
          class="blog-post-card__image" />
        <div class="blog-post-card__body">
            <a href="{{ url_for('blog.posts', blog_title='security-scanning') }}">
                <h2 class="recipe-title-long">Security scanning</h2></a>
            <p>None of the tools or databases will catch everything, and most are not sufficient for Conda or Docker containers because they only understand Python packages.</p>
            <p class="blog-post-card__date">Published on April 18, 2022</p>
        </div>
    </div>

    <div class="blog-post-card card-overlay">
        <img
          src="{{ url_for('static', filename='img/black.png') }}"
          alt="Black Pycharm"
          class="blog-post-card__image" />
        <div class="blog-post-card__body">
            <a href="{{ url_for('blog.posts', blog_title='code-quality') }}">
                <h2 class="recipe-title-long">Notebook code quality</h2></a>
            <p>We use notebooks for the development of quality code snippets intended to become useful in future development projects. So we want Quality.</p>
            <p class="blog-post-card__date">Published on April 11, 2022</p>
        </div>
    </div>

    <div class="blog-post-card card-overlay">
        <img
          src="{{ url_for('static', filename='img/moon_phases.png') }}"
          alt="Moon phases"
          class="blog-post-card__image" />
        <div class="blog-post-card__body">
            <a href="{{ url_for('blog.posts', blog_title='moon') }}">
                <h2 class="recipe-title-long">Full moons</h2></a>
            <p>All matter on Earth, both live and inert, experiences the effects of the gravitational forces of the Sun and Moon expressed in the form of tides.</p>
            <p class="blog-post-card__date">Published on April 9, 2022</p>
        </div>
    </div>

    <div class="blog-post-card card-overlay">
        <img
          src="{{ url_for('static', filename='img/hidden_debt.png') }}"
          alt="Hidden debt"
          class="blog-post-card__image" />
        <div class="blog-post-card__body">
            <a href="{{ url_for('blog.posts', blog_title='ml-pain-points') }}">
                <h2 class="recipe-title-long">ML pain points</h2></a>
            <p>Machine Learning systems are still experimental in nature and have more components that are significantly more complex to build and operate.</p>
            <p class="blog-post-card__date">Published on March 12, 2022</p>
        </div>
    </div>

        <div class="blog-post-card card-overlay">
        <img
          src="{{ url_for('static', filename='img/data-science-chaos.png') }}"
          alt="Data science chaos"
          class="blog-post-card__image" />
        <div class="blog-post-card__body">
            <a href="{{ url_for('blog.posts', blog_title='chaotic-order') }}">
                <h2 class="recipe-title-long">Chaotic order code base</h2></a>
            <p>Some steps need to be done before others, like initial explorations before sensible cleaning, and cleaning before feature engineering, but after that it gets chaotic.</p>
            <p class="blog-post-card__date">Published on March 11, 2022</p>
        </div>
    </div>

</div>
{% endblock %}
