{% extends "blogpost.html" %}

{% block title %}
<h1>Chaotic order code base</h1>
{% endblock %}

{% block date %}
<p class="blogpost__date">Published on March 11, 2022</p>
{% endblock %}

{% block image %}
<img
  src="{{ url_for('static', filename='img/data-science-chaos.png') }}"
  alt="Data science chaos"
  class="blogpost__image" />
{% endblock %}

{% block article %}
    <p>As the importance of data science has grown, so too has the body of jargon associated with it. While many terms of art are well-defined, others are buzzwords, ubiquitous in the media but lacking concrete meaning.</p>
    <p>Also, data science is not linear, although some steps need to be done before others, like initial explorations before sensible wrangling, and wrangling before preprocessing and/or feature engineering, but after that it gets chaotic. For example, some models do not work well with simple label encoding, and with feature engineering creativity based on understanding the domain, and on how features are correlated.</p>
    <p>This where the puzzling fun really starts.</p>
    <p>It does make sense to first create a skeleton and make "steps" to practice some used techniques:</p>
    <ul>
        <li><a href="{{ url_for('recipes.data_wrangling_recipes') }}">Data wrangling</a></li>
        <li><a href="{{ url_for('recipes.ml_recipes') }}">Machine learning</a></li>
        <li><a href="{{ url_for('recipes.data_visualisation_recipes') }}">Data visualisation</a></li>
        <li><a href="{{ url_for('recipes.data_analysis_recipes') }}">Data analysis</a></li>
        <li><a href="{{ url_for('recipes.deep_learning_recipes') }}">Deep learning</a></li>
        <li><a href="{{ url_for('recipes.nlp_recipes') }}">Natural language processing</a></li>
    </ul>

    <p>We develop reuseful snippets using Jupyter notebooks and public datasets, to gradually build towards functions and classes for (other) projects later.</p>
{% endblock %}
