{% extends "blogpost.html" %}

{% block title %}
<h1>Notebook code quality</h1>
{% endblock %}

{% block date %}
<p class="blogpost__date">Published on April 11, 2022</p>
{% endblock %}

{% block image %}
<img
  src="{{ url_for('static', filename='img/black.png') }}"
  alt="Black"
  class="blogpost__image" />
{% endblock %}

{% block article %}
    <p>A read–eval–print loop (REPL) such as Jupyter Notebook offers, is a simple interactive computer
        programming environment that takes single user inputs, executes them, and returns the result.
        This facilitates quick feedback during development and allows for developing code at a faster speed
        than if it had to be run as one monolithic piece of code.</p>
    <p>The way Jupyter Notebook works with code in blocks, which can be run independently, makes it easier to
        experiment and trial certain operations without having to re-run the full workflow. Ideal for analysis tasks that require both numerical and visual outputs.</p>
    <p>Not so ideal when trying to leverage notebooks for production use rather than an analytical use case.
        And in our case, we wish to produce a quality snippet code base reuseful for future
        production projects.</p>
    <p>So we want Quality.</p>

    <h2>Black-Jupyter</h2>
    <p>We do code formatting with <a href="https://anaconda.org/conda-forge/black-jupyter">black-jupyter</a>.
        Running Black Jupyter on all notebooks from the root of a repo is as simple as:</p>
    <code>$ black .</code>

    <h2>Flake8_nb</h2>
    <p>We check PEP8 compliance with <a href="https://anaconda.org/conda-forge/flake8-nb">flake8_nb</a>.
        Running Flake8 NB on all notebooks from the root of a repo:</p>
    <code>$ flake8_nb notebooks</code>

    <h2>Automation with pre-commit</h2>
    <p>We automated the code formatting and PEP8 compliance processes by using the
        <a href="https://anaconda.org/conda-forge/pre_commit">pre-commit framework</a> and its
        <a href="https://anaconda.org/conda-forge/pre-commit-hooks">hooks</a>.</p>
    <p>It runs a short script before committing. If the script passes, then the commit is made, else,
        the commit is denied (and we fix whatever is up).</p>

    <h2>Mypy</h2>
    <p>For additional type annotations we installed <a href="https://anaconda.org/anaconda/mypy">mypy</a> with
        <a href="https://anaconda.org/conda-forge/data-science-types">data-science-types</a> for libraries
        like matplotlib, numpy and pandas that do not have type information, and
        <a href="https://anaconda.org/conda-forge/nbqa">nbqa</a>.
        Run on all notebooks in the root directory of a repo with:</p>
    <code>$ nbqa mypy .</code>

    <p>To be continued ...</p>
{% endblock %}
