{% extends "blogpost.html" %}

{% block title %}
<h1>Full moons</h1>
{% endblock %}

{% block date %}
<p class="blogpost__date">Published on April 9, 2022</p>
{% endblock %}

{% block image %}
<img
  src="{{ url_for('static', filename='img/moon_phases.png') }}"
  alt="Moon phases"
  class="blogpost__image" />
{% endblock %}

{% block article %}
    <em>All matter on Earth, both live and inert, experiences the effects of the gravitational
        forces of the Sun and Moon expressed in the form of tides. The periodic oscillations
        exhibit two daily cycles and are modulated monthly and annually by the motions of
        these two celestial bodies. All organisms on the planet have evolved in this context.</em>

    <p>A <a href="https://agencia.fapesp.br/gravitational-action-of-sun-and-moon-influences-behavior-of-animals-and-plants-study-shows/37629/">new study</a>
        finds that all biological organisms, from plants, to animals, to human beings, all have a
        connection to the gravitational forces coming from the Sun and Moon. Science heading for (common) ground.</p>

    <p>Although the exact mechanism of the moon's influence on earth, humans and animals awaits
        further scientific exploration, finding correlations between target features and moon
        cycles may be helpful in relevant data science projects such as in health research,
        and for example, for predicting earthquakes and floods.</p>

    <p>Today, most countries on Earth are using the Julian calendar. It was introduced by Julius Caesar
        in 45 BCE and replaced the Roman moon based calendar. This predecessor was a very complicated
        lunar calendar. It required a group of people to decide when days should be added or removed in
        order to keep the calendar in sync with the solar seasons, marked by equinoxes and solstices.</p>

    <p>We can scrape the
        <a href="https://www.fullmoon.info/en/fullmoon-calendar_1900-2050.html">Fullmoon Calendar website</a>
        for a dataset of full moons that can be merged into time series datasets for correlation purposes:
        The <a href="https://gitlab.com/tymyrddin/data-wrangling/-/blob/main/notebooks/scraping/moon.ipynb">code</a>,
        and the <a href="https://gitlab.com/tymyrddin/data-wrangling/-/tree/main/notebooks/scraping/assets">1900-2050 full moon datasets</a>.</p>

{% endblock %}
