{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/page_style.css') }}">
{% endblock %}

{% block content %}
<div class="page-container">

    <div class="page__article">
        <h1>Reservations</h1>
        <hr class="light">
        <p>Reservations are easily obtained, since they can be booked once you, as our patron, return to your original time and location after your meal.</p>
        <p>We hope you enjoyed your stay with us. Ready to make that reservation?</p>
    </div>

    <style>
        .honey {
            opacity: 0;
        }
    </style>

    <div class="page__article form">
        <form name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true">
          <p class="honey">
              <label>
                  Don’t fill this out if you’re human: <input name="bot-field" />
              </label>
          </p>
          <p>
            <label>Name: <input type="text" placeholder="eg. Corporal Cheery (or Cheri) Littlebottom" name="name" /></label>
          </p>
          <p>
            <label>Email: <input type="email" placeholder="eg. littlebottom@lscpace.org" name="email" /></label>
          </p>
          <p>
            <label>Message: <textarea placeholder="eg. Please book me a table for two by the window." name="message"></textarea></label>
          </p>
          <p>
            <input type="submit" value="Send">
          </p>
        </form>
    </div>

</div>
{% endblock %}
