{% extends "blogpost.html" %}

{% block title %}
<h1>Security scanning</h1>
{% endblock %}

{% block date %}
<p class="blogpost__date">Published on April 18, 2022</p>
{% endblock %}

{% block image %}
<img
  src="{{ url_for('static', filename='img/vuln-scanning.png') }}"
  alt="Snyk as Pycharm extension"
  class="blogpost__image" />
{% endblock %}

{% block article %}
    <p>None of the tools or underlying databases will catch everything, and security vulnerability
        scanners that are built for checking Python dependencies are not sufficient for Conda or
        Docker containers because they only understand Python packages. Conda combines Python
        dependencies and system packages and basing docker containers on existing containers
        could open up a can of worms.</p>

    <h2>Safety</h2>
    <p><a href="https://anaconda.org/conda-forge/safety">Safety</a> checks installed dependencies
        for known security vulnerabilities. By default, it uses the open Python vulnerability database
        <a href="https://github.com/pyupio/safety-db/tree/master/data">Safety DB</a> (updated every month),
        and can be upgraded to use pyup.io's
        <a href="https://github.com/pyupio/safety/blob/master/docs/api_key.md">Safety API</a> (a paid service).</p>

    <code>$ safety check</code>

    <h2>Jake</h2>
    <p>We need a tool that knows about all the different types of software that end up in the Conda package
        repositories, beyond just checking Python libraries. <a href="https://anaconda.org/conda-forge/jake">Jake</a>
        supports Conda packages and relies on the
        <a href="https://ossindex.sonatype.org/">Sonatype OSS Index of security vulnerabilities</a>.</p>
    <code>$ conda list | jake ddt -c | grep VULNERABLE</code>
    <p>Note that omitting that <code>-c</code>, it will give only Python vulnerabilities.</p>

    <h2>Snyk</h2>
    <p><a href="https://docs.docker.com/engine/scan/">Docker scan</a> runs on <a href="https://snyk.io/docker/">Snyk engine</a> for checking security state of container images.</p>

    <p>To be continued ...</p>

{% endblock %}
